<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true">
  <targets>
    <target name="fileLog" type="AsyncWrapper" queueLimit="5000">
      <target type="File" layout="${longdate} [${threadid:padding=3}] ${message} ${exception:format=tostring}" fileName="${basedir}/logs/all.log" encoding="UTF-8"/>
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="fileLog" />
  </rules>
</nlog>